doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mithril Framework

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.override
    
    article
      
      section
        h1.bullet Mithril
        
      section
        ul
          h1.bullet Why?
          li: h2 Large, complex frameworks are common
          li: h2 Large, complex systems are common
          h1.bullet But...
          li: h2 I like small, simple APIs
          li: h2 I like small, simple components
        
      section
        h2.bullet agenda
        ul
          li: h1 What is Mithril?
          li: h1 Why do I care?
          li: h1 Code please?
          li: h1 Demo time
          li: h1 Hiccups
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1.bullet What is Mithril?
      
      section
        h2.bullet.quote A Javascript Framework for Building Brilliant Applications
        h2.bullet.quote a client-side MVC framework
        h2.bullet.quote a tool to organize code in a way that is easy to think about and to maintain
    
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1.bullet Why do I care?
        
      section.size-comparison
        h2.bullet <strong>Tiny</strong> Size
        small * (latest standard minified downloads)
        
        table
          thead
            tr
              th.angular Angular
                p: small (v1.3.16)
              th.react React
                p: small (v0.13.3)
              th.mithril Mithril
                p: small (v0.2.0)
          tbody
            tr
              td.angular.size
                h2 126kb
              td.react.size
                h2 122kb
              td.mithril.size
                h2 19kb

      section
        h2.bullet <strong>Fast</strong>
        h1.bullet Virtual DOM diffing
        div.bullet
          h1 Smart re-drawing
          small
            a(href="https://lhorie.github.io/mithril/mithril.computation.html#how-auto-redrawing-works")
              | How auto-redrawing works
        
      section
        h2.bullet <strong>All</strong> the things
        h1.bullet Components
        h1.bullet Routing
        h1.bullet AJAX
        h1.bullet Promises
        small.bullet * (some caveats,  
          a(href="https://lhorie.github.io/mithril/mithril.deferred.html#differences-from-promises-a-")
            | check the docs
          | )
      
      section
        h1.bullet 
          a(href="https://lhorie.github.io/mithril/mithril.html") High quality official docs
        div.bullet
          h2 Plus lots of examples on the 
          h1: a(href="http://lhorie.github.io/mithril-blog/") official blog
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        pre.code-heading
          code.language-javascript.
            // Code please?
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Components
        pre
          code.language-javascript.
            // home.js
            var m = require('mithril');
            
            module.exports = {
              controller: function(args) {
                return {
                  heading: 'Home'
                };
              },
              view: function(ctrl, args) {
                return m('div.home', [
                  m('h1', ctrl.heading)
                ]);
              }
            };

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Routing
        pre
          code.language-javascript.
            // app.js
            var m = require('mithril');
            var home = require('components/home');
            var todos = require('components/todos');
            var todoItem = require('components/todoItem');
          
            // Routing does attempt to match in order
            m.route(document.querySelector('#app'), '/', {
              '/': home,
              '/todos': todos,
              '/todos/:status': todoItem
            });
          
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 AJAX & Promises
        pre
          code.language-javascript.
            var m = require('mithril');
            
            var todosPromise = m.request({
              method: 'GET',
              url: '/api/todos',
              initialValue: []
            });
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Special Mention:
        h1 m.prop
        pre
          code.language-javascript.
            var m = require('mithril');
            
            function User(data) {
              this.name = m.prop(data.name);
            }
            
            var user = new User({name: 'Tim'});
            JSON.stringify(user); // '{"name": "Tim"}'
            
            var userPromise = m.request({
              method: 'GET',
              url: 'api/users',
              type: User
            }).then(function(users) {
              console.log(users()); // [{name: 'Tim'}, {name:'Bob'}]
            });
      
      section
        h1 Demo
        
    //article

      section
        h1 Mithril

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
